/vendor/
/.env
/.env.*
!/.env.example
/.phpunit.cache/
/.phpunit.result.cache
/resources/frontend/
/public/assets/
/public/icons/
/public/manifest.webmanifest
/public/offline.html
/public/sw.js
/public/sw-policy.js
